<!DOCTYPE html>
<html>
  <head>
    <title>Calgary Schools and Healthcare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <link rel="icon" href="data:;base64,=">
  </head>

  <style>

  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  </style>

  <body>
    <div class="middle">
        {% block heading %}
        {% endblock %}
      <div id="mapid">
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
